*{margin: 0; padding: 0; box-sizing: border-box;}

.back{
    width: 100%;
    height: 650px;
    background-image: url(img/Bg.png);
    background-size: cover;
}

.navparent{
    width: 100%;
    height: 150px;
    background-color: black;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
}

.lambada{
    width: 52%;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}

.lambada > h1{
    margin-left: 50px;
    font-size: 37px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.blog{
    width: 5%;
    height: 100px;
    display: flex;
    align-items: center;
}

.cank{
    width: 40%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home{
    color: white;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
}

.contentup{
    width: 100%;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentin{
    width: 56%;
    height: 90%;
    text-align: center;
}

.austrera{
    color: white;
    font-size: 37px;
    text-align: center;
    line-height: 110px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
    font-weight: bold;  
}

#aust{
    color: #CC9900;
}

.buttons{
    margin-top: 30px;
}

.button{
    border: 1px solid #007bff;
    text-transform: uppercase;
    padding: 12px 8px;
    border-radius: 10%;
    text-decoration: none;
    color: #FFF;
    background-color: rgba(0, 0, 0, .5);
}

#button{
    background-color: rgba(255, 255, 255, 0.4);
}

.aside__back{
    width: 100%;
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside{
    width: 1251px;
    height: 670px;
    display: flex;
}

.aside__in{
    width: 625px;
    height: 100%;
    text-align: center;
    line-height: 70px;
}

.asi__in{
    color: #CC9900;
    font-size: 30px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
}

.default{
    line-height: 26px;
    font-size: 18px;
}

#cook{
    margin-top: 50px;
}

.article__back{
    background-image: url(img/bg1.png);
    background-size: cover;
    width: 100%;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__parent{
    width: 80%;
    height: 85%;
    display: flex;
}

.article__in{
    width: 50%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .4);;
    background-color: rgba(0, 0, 0, .4);;
    text-align: center;
    padding: 40px;
}

#empty{
    border: none;
    background: none;
}

.art__in{
    font-size: 29px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
    color: #CC9900;
    font-weight: bold;
}

.default__art{
    color: #FFF;
    padding: 20px;
    line-height: 24px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
}

.img__parent{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__row{
    width: 1140px;
    height: 945px;
    display: flex;
}

.main_left__parent{
    width: 475px;
    height: 945px;
}

.main_empty_center{
    width: 190px;
    height: 945px;
    background: none;
}

.main_right__parent{
    width: 475px;
    height: 945px;
}

.app{
    width: 100%;
    height: 105px;
    font-size: 34px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
    color: #CC9900;
    text-align: center;
    padding: 40px;
}

.tzsal{
    width: 100%;
    height: 40px;
    font-size: 17px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";  
    color: #CC9900;
    font-weight: bold;
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.small{
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 20px 1px;
}

.empty{
    height: 16px;
    background: none;
}

.emptybig{
    height: 86px;
    background: none;
}

.foot__parent{
    width: 650px;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
}

.foot__in{
    width: 80%;
    height: 80%;
    text-align: center;
}

.foot__p{
    color: #FFF;
    line-height: 28px;
    font-size: 17px;
}

#padd{
    padding: 48px;
}

@media screen and (max-width: 1200px) {
.back{
    max-width: 1140px;
 }
 
 .navparent{
    max-width: 1140px;
 }

 .contentin{
    max-width: 1140px;
 }

 .aside__back{
    max-width: 1140px;
 }
}

@media screen and (max-width: 998px) {
    .back{
        max-width: 960px;
     }
     
     .contentup{
        max-width: 960px;
     }
    
     .aside__back{
        max-width: 960px;
     }
}

@media screen and (max-width: 768px) {
  .back{
    max-width: 720px;
 }
 
 .contentup{
    max-width: 720px;
 }

 .aside__back{
    max-width: 720px;
 }
}

@media screen and (max-width: 576px) {
    .back{
        max-width: 540px;
     }
     
     .contentup{
        max-width: 540px;
     }
    
     .aside__back{
        max-width: 540px;
     }
}