html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.container {
    width: 90%;
    /* max-width: 1100px; */
    margin: 0 auto;
    /* padding: 0 30px; */
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 500;
    background-color: #0b1215;
}

.header{
    padding-top: 20px;
}

.nav{
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

#Layer_1{
    width: 150px;
    height: 52px;
}

.menu-list{
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-top: 20px;
    margin-left: 40px;
}

.navbar-right{
    display: flex;
    align-items: center;
    padding-bottom: 7px;
    gap: 6px;
}

.menu-link{
    font-size: 16px;
}

.menu-link-af::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: 5px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.navbar-right{
    font-size: 16px;
}

.navbar-link-rel{
    border-radius: 20px;
    border: 2px solid #47b8e6;
    padding: 6px 12px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0%);
    margin-left: 6px;
    color: #47b8e6;
}

.video-teg {
    width: 100%;
    height: 760px;
    margin: 0 auto;
    outline: none;
}

.images-android{
    width: 115px;
}

.slider-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.section-story {
    margin-bottom: 40px;
    padding: 20px 50px;
}

.section-rel-story {
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-next-story {
    font-size: 25px;
    line-height: 35px!important;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    color: #33bffa;
}

.dip-link{
    border: 3px solid #33bffa;
    border-radius: 50px;
    padding: 17px 20px;
    font-size: 18px;
    width: 170px;
    margin: 30px;
    background: #33bffa;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(51 191 250 / 0%);
    border: none;
}

.section__learj-header {
    margin-top: 35px;
    width: 100%;
    margin: 0 auto;
}

.containers {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.section-content {
    width: 100%;
}

.section-learj-title {
    width: 65%;
    margin-bottom: 50px;
}

.section-learg-story {
    font-size: 7vh;
    color: #fff;
}

.section-row-stor {
    width: 75%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.section-slider-story {
    font-size: 45px;
    color: #fff;
}

.section-hidetite{
    padding-top: 50px;    
}

.section-selector {
    display: flex;
    gap: 70px;
    margin-bottom: 50px;
}

.section-hide-img{
    width: 500px;
}

.section-row-text{
    margin: 0;
    font-size: 25px;
    color: #fff;
}

.section-title-text{
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #d2d3d4;
}

.section-learj-rows{
    width: 100%;
    margin-top: 50px;
    background-color: #47b8e6;
    padding-bottom: 100px;
}  

.section-diselper {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    gap: 60px;
}

.section-rows{
    width: 50%;
}

.section-elem-title {
    font-size: 7vh;
    color: #fff;
    margin: 0;
}

.section-elem-story {
    font-size: 7vh;
    color: #fff;
    margin-bottom: 50px;
    margin: 0;
}

.section-elem-pink{
    color: #e84b9a;
}

.section-elem-purple{
    color: #5c67b0;
}

.section-elem-green{
    color: #67be6b;
}

.section-elem-yellow{
    color: #face0b;
}  

.sect-link{
    margin-top: 170px;
    display: block;
    border: 0px solid #ffffff;
    border-radius: 50px;
    padding: 15px 20px;
    color: #333;
    font-weight: 600;
    width: 60%;
    height: 24px;
    padding: 25px;
    background: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}

.sect-link:hover {
    opacity: 0.8;
}

.section-substory{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #fff;
}

.element-section {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid #555a5c;
    color: #fff;
}

.element-section-big{
    height: 60px;
    line-height: 30px;
}

.images-sect{
    width: 30px;
}

.section-mine {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
}

.text-title{
    font-size: 50px;
}

.text-about-story {
    width: 80%;
    margin-top: 30px;
    font-size: 45px;
}

.free-story {
    font-size: 45px;
    color: #47b8e6;
    border-bottom: 2px solid #47b8e6;
}

.title-element{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 26px;
    text-align: center;
    color: #fff;
}

.images-sectior-png {
    width: 180px;
    height: 150px;
}

.section-seo-title{
    padding-bottom: 30px;
    background-color: #fff;
}

.section-big-header-title {
    width: 60%;
    font-size: 150px;
    padding-top: 50px;
    color: #5668b0;
    animation: colorAnimation 20s infinite;
    margin: 0;
}

@keyframes colorAnimation {
    0% {
        color: #5668b0;
    }
    20% {
        color: #ec4a99;
    }
    32% {
        color: #4ab7e4;
    }
    50% {
        color: #68be63;
    }
    66% {
        color: #fcd900;
    }
    85% {
        color: #eb2227;
    }
    100% {
        color: #5668b0;
    }
}

.section-next-title {
    font-size: 45px;
    margin: 0 0 50px;
}

.section-mega-story{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.images-elem-row {
    width: 60px;
    height: 50px;
}

.section-sliper-header{
    width: 80%;
}

.section-slider-title{
    font-size: 24px;
    margin-top: 30px;
}

.section-beginner-story {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about-text-row{
    font-size: 60px;
    color: #000;
    margin: 0;
}

.about-text-bottom{
    padding-bottom: 40px;
    margin: 0;
}

.about-request-link{
    display: block;
    border: 3px solid #33bffa;
    border-radius: 50px;
    padding: 15px 20px;
    color: #FFF;
    font-size: 17px;
    width: 140px;
    height: 22px;
    background: #33bffa;
    cursor: pointer;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}

.about-request-link:hover{
    opacity: 0.8;
}

.section-prewend{
    background-color: #47b8e6;
}

.section-hero-prewend {
    padding-top: 50px;
}

.section-prewend-title{
    margin: 0 0 30px;
    padding: 50px 0 0;
    font-size: 30px;
    color: #000;
}

.section-prewend-story{
    width: 50%;
    margin: 0;
}

.section-prewend-img {
    max-width: 100%;
}

.footer{
    background-color: #fff;
    margin-top: 50px;
    max-width: 100%;
    padding-top: 60px;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-blok-title{
    max-width: 25%;
}

.footer-img{
    width: 150px;
    cursor: pointer;
}

.footer-inner-story{
    font-size: 14px;
    color: #000;
    margin: 0;
}

.footer-about-story {
    font-size: 15px;
    font-weight: 600!important;
    margin-bottom: 10px;
    color: #000;
}

.footer-inner-subtitle{
    margin-top: 35px;
    margin-bottom: 25px;
}

.footer-btn-link{
    display: flex;
    margin-top: 22px;
}

.footer-link-rell{
    width: 130px;
    border: 2px solid rgba(0,0,0,0.2);
    padding: 7px;
    text-align: center;
    border-radius: 25px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.3s ease;
}

.footer-link-rell:hover {
    border: 2px solid #47b8e6;
    color: #47b8e6;
}

.inner-elem-title{
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: #47b8e6;
}

.element-link{
    padding: 0;
    margin-top: 30px;
}

.footer-intro-title{
    font-size: 15px;
    font-weight: 600;
    margin: 0;
}

.footer-item-prof{
    font-size: 15px;
    transition: 0.3s ease;
}

.footer-item-prof:hover{
    color: #4ab7e4;
}

.footer-item-link{
    font-size: 15px;
    transition: 0.3s ease;
}

.footer-item-link:hover{
    color: #4ab7e4;
}

.footer-item-link::before {
    content: "\2022";
    color: #33bffa;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 1.08em;
    margin-right: -4px;
}

.footer-devises-link{
    margin-top: 55px;
    padding: 0;
}

.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-top: 1px solid #d6dee2;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.footer-block-story{
    color: #868686;
    font-size: 16px;
}

.footer-devices-items ul{
    display: flex;
    gap: 30px;
}

.right-mobile,
.menu-btn,
.navbar-right-mobile,
.menu-mobile{
    display: none;
}

@media (max-width:1100px){
    .menu-list{
        display: none;
    }
    .menu-mobile{
        display: flex;
        gap: 0 20px;
        margin-right: auto;
        margin-left: 40px;
    }
    .navbar-right{
        margin-top: 7px;
    }
    .navbar-right-mobile{
        display: flex;
        font-size: 16px;
    }
    .nav{
        align-items: center;
    }
    .images-android{
        width: 95px;
    }
    .images-sectior-png{
        width: 150px;
    }
    .text-about-story{
        font-size: 25px;
    }
    .free-story{
        font-size: 25px;
    }
    .menu-link-af::after{
        display: none;
    }
    .section-learg-story{
        font-size: 6.5vh;
    }
    .section-prewend-story{
        width: 100%;
    }
}

@media (max-width: 1000px){
    .section-diselper{
        flex-direction: column;
    }
    .section-substory{
        font-size: 35px;
    }
    .section-rows{
        width: 100%;
    }
    .sect-link{
        margin-top: 50px;
    }
    .images-sectior-png{
        width: 130px;
        height: 150px;
    }
    .section-mega-story{
        flex-direction: column;
    }
    .section-beginner-story{
        flex-direction: column;
    }
    .section-big-header-title{
        font-size: 80px;
        width: 100%;
    }
    .section-next-title{
        font-size: 23px;
    }
    .footer-inner{
        flex-direction: column;
    }
    .footer-blok-title{
        max-width: 100%;
    }
}

@media (max-width: 900px){
   .menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    }
   .menu-btn span{
    height: 3px;
    width: 100%;
    background-color: #FFF;
   }
   .menu-mobile{
    display: none;
    margin: 0;
   }
   .menu-mobile.menu--open{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    height: 100vh;
    z-index: 5;
    text-align: center;
    padding-top: 164px;
   }
   .menu-link{
    font-size: 3vh;
    display: block;
    padding: 20px 0;
   }
   .logo{
    z-index: 10;
   }
   .navbar-right{
    display: none;
   }
   .right-mobile{
    display: flex;
   }
   .images-android{
    width: 75px;
   }
   #Layer_1{
    width: 140px;
    }   
    .section-learg-story{
        font-size: 6vh;
    }
    .section-selector{
        flex-direction: column;
    }
    .section-slider-story {
        font-size: 22px;
    }
    .section-substory{
        font-size: 30px;
    }
    .images-sectior-png{
        width: 120px;
        height: 130px;
    }
}

@media (max-width: 730px){
    .images-android{
        width: 55px;
    }
    #Layer_1{
        width: 130px;
    }
    .section-learg-story{
        font-size: 5.5vh;
    }
    .section-substory{
        font-size: 35px;
    }
    .section-substory{
        font-size: 25px;
    }
    .images-sectior-png{
        width: 90px;
        height: 110px;
    }
    .about-text-row{
        font-size: 40px;
    }
    .footer-devices-items ul{
        font-size: 13px;
    }
}

@media (max-width: 584px) {
    .section-learg-story{
        font-size: 4vh;
    }
    .section-elem-title{
        font-size: 5vh;
    }
    .section-elem-story{
        font-size: 5vh;
    }
    .images-sectior-png{
        width: 70px;
        height: 100px;
    }
}

@media (max-width: 530px){
    .images-android{
        width: 40px;
    }
    #Layer_1{
        width: 120px;
    }
    .right-mobile{
        font-size: 15px;
    }
    .menu-btn{
        width: 35px;
        height: 25px;
    }
    .section-learg-story{
        font-size: 3.5vh;
    }
    .images-sectior-png{
        width: 60px;
        height: 90px;
    }
}

@media (max-width: 450px){
    .images-android{
        width: 40px;
    }
    .right-mobile{
        font-size: 14px;
    }
    .menu-btn{
        width: 30px;
        height: 20px;
    }
    #Layer_1{
        width: 110px;
    }
    .images-sectior-png{
        width: 50px;
        height: 80px;
    }
}

@media (max-width: 400px){
    .images-android{
        width: 35px;
    }
    .right-mobile{
        font-size: 12px;
    }
    #Layer_1{
        width: 100px;
    }
}

@media (max-width: 380px){
    .right-mobile{
        font-size: 8px;
    }
    #Layer_1{
        width: 90px;
    }
}

@media (max-width: 300px){
   *{
    display: none;
   }
}
