*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #52565b;
}

.section{
    width: 85%;
    height: 700px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #0d6efd;
    border-radius: 10px;
}

.container{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.section-row{
    display: flex;
}

.section-col{
    width: 50%;
    height: 600px;
}

.section-left{
    background-color: #0d6efd;
    margin-right: 30px;
}

.section-right{
    margin-top: 30px;
}

.section-form {
    margin-top: 20px;
}

#studentName{
    width: 100%;
    height: 60px;
    padding: 0 25px;
    font-size: 15px;
    color: #52565b;
    transition: all 0.3s ease 0s;
    border: 1px solid #06A3DA;
    border-radius: 10px;
    background-color: #fff;
}

.btn{
    margin-top: 20px;
    margin-left: 50px;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #06A3DA;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn:hover{
    color: #000;
    background-color: #2bb1e0;
    border-color: #1facde;
    transition: 0.3s ease;
}
