*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.bg{
	width: 100%;
	height: 790px;
	background-image: url(../image/photo_2022-11-26_19-36-53.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
a{
	text-decoration: none;
}
.navbar{
	width: 80%;
	height: 260px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 40px;
}
.navbar img{
	width: 82px;
	height: 30px;
}
.navbar h3{
	font-size: 18px;
    color: #ea9f3e;
    font-family: "Arial";
}
.text{
	width: 80%;
	height: 160px;
	margin: 0 auto;
	text-align: center;
}
.text h2{
	font-size: 40px;
	line-height: 25px;
	color: #E8E8E8;
}
.text p{
	font-size: 20px;
	line-height: 25px;
	color: #E8E8E8;
	margin-top: 30px;
}
.button{
    display: inline-block;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
   	color: #E8E8E8;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 14px 24px;
    margin-left: 44%;
}
.arrow{
	width: 1px;
	height: 150px;
	border: 1px solid none;
	margin-left: 48%;
}
.button2{
    display: inline-block;
    font-family: Gilroy;
    text-align: center;
    text-transform: uppercase;
   	color: #E8E8E8;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 50%;
    padding: 16px 16px;
    margin-left: 48%;
}
.arrow2{
	width: 2px;
	height: 114px;
	border: 1px solid white;
	margin-left: 50%;
}
.bg2{
	width: 100%;
	height: 583px;
	background-color: whitesmoke;
}
.navbar2{
	width: 100%;
	height: 68px;
	margin: 0 auto;
	padding: 99px;
}
.navbar2 h3{
	font-size: 30px;
	line-height: 25px;
	color: black;
	font-family: Gilroy;
	text-align: center;
	margin-bottom: 16px;
}
.navbar2 p{
	font-size: 14px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
}
.arrow3{
	width: 43px;
	height: 2px;
	background-color: black;
	margin: 10px auto;
}
.column{
	width: 1100px;
	height: 256px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.col-1{
	width: 265px;
	height: 256px;
}
.col-1 img{
	background-size: cover;
	display: inline-block;
    border: 1px solid none;
    border-radius: 50px;
    background-color: black;
    padding: 30px 22px;
    margin-left: 80px;
}
.col-1 h4{
	font-size: 17px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 25px;
}
.col-1 p{
	font-size: 14px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 15px;
}
.col-2{
	width: 259px;
	height: 256px;
}
.col-2 img{
	background-size: cover;
	display: inline-block;
    border: 1px solid none;
    border-radius: 50px;
    background-color: black;
    padding: 28px 31px;
    margin-left: 80px;
}
.col-2 h4{
	font-size: 17px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 25px;
}
.col-2 p{
	font-size: 14px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 15px;
}
.col-3{
	width: 263px;
	height: 256px;
}
.col-3 img{
	background-size: cover;
	display: inline-block;
    border: 1px solid none;
    border-radius: 50px;
    background-color: black;
    padding: 23px 24px;
    margin-left: 80px;
}
.col-3 h4{
	font-size: 17px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 25px;
}
.col-3 p{
	font-size: 14px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 15px;
}
.col-4{
	width: 267px;
	height: 256px;
}
.col-4 img{
	background-size: cover;
	display: inline-block;
    border: 1px solid none;
    border-radius: 50px;
    background-color: black;
    padding: 24px 21px;
    margin-left: 80px;
}
.col-4 h4{
	font-size: 17px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 25px;
}
.col-4 p{
	font-size: 14px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 15px;
}
.bg3{
	width: 100%;
	height: 800px;
}
.parent{
	width: 100%;
	display: flex;
}
.nkar img{
	width: 100%;
	height: 100%;
}
.bg4{
	width: 100%;
	height: 600px;
}
.navbar2 h4{
	margin-top: 30px;
	font-size: 15px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	line-height: 20px;
}
.navbar2 h1{
	margin-top: 30px;
	font-size: 35px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	line-height: 20px;
}
.mnk{
	width: 100%;
	height: 65px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.navbar2 h2{
	font-size: 16px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 15px;
}
.parentk{
	width: 80px;
	height: 50px;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin: 0 auto;
}
.klor{
	width: 8px;
	height: 18px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px 10px;
    margin-top: 30px;
}
.klor1{
	width: 8px;
	height: 18px;
    border: 1px solid black;
    background-color: black;
    border-radius: 50px;
    padding: 10px 10px;
    margin-top: 30px;
}
.bg5{
	width: 100%;
	height: 900px;
	background-image: url(../image/photo_2022-11-26_19-36-48.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar2{
	width: 100%;
	height: 68px;
	margin: 40px auto;
	padding: 99px;
}
.column2{
	width: 1150px;
	height: 425px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.col{
	width: 270px;
	height: 420px;
	background-color: #CACFD2;
}
.col h4{
	font-size: 19px;
	color: #29323C;
	font-family: Gilroy;
	text-align: center;
	margin-top: 25px;
}
.col p{
	font-size: 17px;
	color: #29323C;
	text-align: center;
	margin-top: 8px;
}
.soc{
	width: 145px;
	height: 26px;
	margin: 25px auto;
}
.button4{
    display: inline-block;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
   	color: #E8E8E8;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 14px 24px;
}
.button4p{
	width: 100%;
	height: 237px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg6{
	width: 100%;
	height: 155px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
}
.reklam{
	width: 1078px;
	height: 44px;
	display: flex;
	justify-content: space-between;
}
.bg7{
	width: 100%;
	height: 950px;
	background-color: white;
}
.arrow4p{
	width: 402px;
	height: 42px;
	margin: 0 auto;
	border: 2px solid whitesmoke;
	opacity: 0.7;
}
.arrow4{
	width: 100%;
	height: 8px;
	background-color: black;
}
.packs{
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
}
.pack{
	width: 1175px;
	height: 504px;
	border: 2px solid whitesmoke;
	display: flex;
	text-align: center;
}
.pack1{
	width: 386px;
	height: 500px;
	border-right: 2px solid whitesmoke;
}
.pack1t{
	width: 100%;
	height: 150px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.pack2t{
	width: 100%;
	height: 150px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.pack2{
	width: 403px;
	height: 500px;
	background-color: white;
}
.pack3{
	width: 386px;
	height: 500px;
	background-color: white;
	border-left: 2px solid whitesmoke;
}
.pack1 h4{
	font-size: 30px;
	line-height: 25px;
	color: #485563;
	font-family: Gilroy;
}
.pack1 h2{
	font-size: 40px;
	color: #485563;
	font-family: Gilroy;
	margin-top: 15px;
}
.pack1 p{
	font-size: 14px;
	color: #29323C;
	opacity: 0.6;
}
.pack3 h4{
	font-size: 30px;
	line-height: 25px;
	color: #485563;
	font-family: Gilroy;
}
.pack3 h2{
	font-size: 40px;
	color: #485563;
	font-family: Gilroy;
	margin-top: 15px;
}
.pack3 p{
	font-size: 14px;
	color: #29323C;
	opacity: 0.6;
}
.pack2 h2{
	font-size: 30px;
	line-height: 25px;
	color: black;
	font-family: Gilroy;
}
.pack2 h3{
	font-size: 43px;
	color: black;
	font-family: Gilroy;
	margin-top: 15px;
}
.pack2 h4{
	color: #485563;
    font-family: Gilroy;
}
.pack2 p{
	font-size: 14px;
	color: #29323C;
	opacity: 0.6;
}
.textp{
	width: 100%;
	height: 350px;
}
.text{
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.text h4{
	font-size: 16px;
	line-height: 40px;
}
.buttonp{
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.buttons{
	display: inline-block;
    font-family: Gilroy;
    text-transform: uppercase;
   	background-color: #29323C;
   	color: white;
    border: 1px solid white;
    box-sizing: border-box;
   	border-radius: 30px;
    padding: 15px 40px;
}
.bg8{
	width: 100%;
	height: 660px;
	display: flex;
}
.cnox{
	width: 50%;
	height: 660px;
	background-image: url(../image/maps.png);
}
.cnox2{
	width: 50%;
	height: 660px;
	background-image: url(../image/img.png);
}
.marker{
	width: 78px;
	height: 108px;
	background-image: url(../image/marker.png);
	background-repeat: no-repeat;
	position: relative;
	left: 50%;
	top: 40%;
}
.circle{
	width: 100%;
	height: 100%;
	background-image: url(../image/circle.png);
	background-repeat: no-repeat;
	position: relative;
	left: 17%;
	top: 17%;
}
.Z{
	width: 100%;
	height: 100%;
	background-image: url(../image/Z.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 17%;
	top: 9%;
}
.cnox3{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.input{
	width: 70%;
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
input{
	background: none;
	font-size: 30px;
	color: white;
}
.submit{
	width: 70%;
 	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
.bg9{
	width: 100%;
	height: 140px;
	display: flex;
	justify-content: center;
}
.footer{
	width: 75%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.cnox4{
	width: 320px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	opacity: 0.8;
}
.cnox5{
	width: 270px;
	justify-content: space-between;
	display: flex;
	align-items: center;
	opacity: 0.8;
}